<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
  </head>
  <body>
    <header>
      <h1>Page not found</h1>
    </header>
    <main>
      <%= msg %>
    </main>
    <footer>
      <h2>Made by SubLock69</h2>
    </footer>
  </body>
</html>