<!DOCTYPE html>
<html>
  <head>
    <title>Clicker Game Title</title>
    <link rel="stylesheet" media="screen" href="/css/main.css" />
  </head>
  <body>
    <header>
      <h1>Clicker Game</h1>
    </header>
    <main>